<?xml version="1.0"?>
<launch>

  <arg name="no_static_map" default="false"/>
  <arg name="base_global_planner" default="global_planner/GlobalPlanner"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <node pkg="move_base" type="move_base" name="move_base" output="screen" >

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <rosparam file="$(find navigation_kct)/config/planner.yaml" command="load"/>
    <rosparam file="$(find navigation_kct)/maps/map5.yaml" command="load"/>
    <rosparam file="$(find navigation_kct)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation_kct)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_kct)/config/recovery_params.yaml" command="load"/>
    <rosparam file="$(find navigation_kct)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_kct)/config/costmap_global_static.yaml" command="load" ns="global_costmap"/>
   
  </node>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_kct)/maps/map5.yaml"/>

  <!-- <include file="$(find navigation_kct)/launch/amcl.launch"/> -->


  <!-- <include file="$(find rplidar_ros)/launch/rplidar.launch"/> -->

  <!-- <include file="$(find mobile_manipulator_body)/launch/base_gazebo_control.launch"/> -->

  <!-- <node name="topic_relay_cmd_vel" pkg="topic_tools" type="relay" args=" /cmd_vel /robot_base_velocity_controller/cmd_vel rate 15" output="screen"/> -->
  <!--<remap from= "/move_base_simple/goal" to ="/move_base_simple/goal_mqtt"/>
  <remap from= "/move_base/goal" to ="/move_base/goal_mqtt"/>-->
</launch>


